body{
    background-color: #e6e3de;
}

.bg-deep-blue{
    background-color: #253745;
}

.bg-cyan{
    background-color: #729da9;
}

.bg-light-gray{
    background-color: #e6e3de;
}

.bg-gray{
    background-color: #ccd0cf;
}

.card-title { margin-bottom: 1rem; } .card-body { padding: 1.5rem; } footer { margin-top: 2rem; }