*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #002255;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    text-align: center;
    margin-top: 200px;
    background: whitesmoke;
    gap: 50px;
}